<!doctype html>
<html lang="ko">
  <head>
    @@include('pathGuideInclude/_component_head.html', {"title": "project components guide"})
  </head>
  <body>
    <div class="uid-container">
      @@include('pathGuideInclude/_component_header.html') @@include('pathGuideInclude/_component_navigation.html')

      <main class="uid-main code-guide">
        <h1 class="uid-title01">Accordion</h1>
        <p class="uid-desc">가이드 모음</p>

        <section class="uid-component">
          <h2 class="uid-title02">기본 가이드</h2>
          <ul class="uid-list">
            <li> 설계 단계의 특별한 UX 요청이나 개발 환경에 따른 제약으로 개발 요청 사항이 없다면 <strong>테스트 완료된 코드</strong>를 <strong>복사 붙여 넣기</strong>를 <strong>기본</strong>으로 합니다. </li>
            <li><code class="uid-codeblock">.accordion-content</code> 진행 방향 조절(상하, 좌우) : data-orientation="vertical"</li>
          </ul>
        </section>

        <!-- <section class="uid-component">
          <h2 class="uid-title02">테스트된 브라우저(최신 버전 기준)</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_browsers_check01.html')
              <tbody>
                <tr>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">테스트된 스크린 리더</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_screen_reader_check01.html')
              <tbody>
                <tr>
                  <td>none</td>
                  <td>supported</td>
                  <td>supported</td>
                  <td>partial</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section> -->

        <section class="uid-component">
          <h2 class="uid-title02">협의 할 점</h2>
          <ul class="uid-list">
            <li>가이드를 작성 합니다.</li>
          </ul>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">접근성 가이드</h2>
          <ul class="uid-list">
            <li>가이드를 작성 합니다.</li>
          </ul>
        </section>

        <section class="uid-component">
          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Accordion ALL Item</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-accordion</code>
              </li>
              <li>
                컴포넌트 자식 클래스 :
                <code class="uid-codeblock">.accordion-item</code>, <code class="uid-codeblock">.accordion-tit</code>,
                <code class="uid-codeblock">.accordion-content</code>
              </li>
              <li>모든 <code class="uid-codeblock">.accordion-item</code> 활성화 : data-type="multiple"</li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-tab">
                <button type="button" class="code-btn is-active">
                  <span class="tab-label">Html</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">Css</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">JavaScript</span>
                </button>
              </div>
              <div class="code-group is-active">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

  <div class="component-accordion" data-orientation="vertical">
    <div class="accordion-item" data-state="open" data-type="multiple">
      <button type="button" class="accordion-tit"> Q. accordion-item01 </button>
      <div class="accordion-content">accordion-content01</div>
    </div>
    <div class="accordion-item" data-state="close" data-type="multiple">
      <button type="button" class="accordion-tit"> Q. accordion-item02 </button>
      <div class="accordion-content">accordion-content02</div>
    </div>
    <div class="accordion-item" data-state="close" data-type="multiple">
      <button type="button" class="accordion-tit"> Q. accordion-item03 </button>
      <div class="accordion-content">accordion-content03</div>
    </div>
  </div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <article>
            <h2 class="uid-title02">Accordion One Item</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-accordion</code>
              </li>
              <li>
                컴포넌트 자식 클래스 :
                <code class="uid-codeblock">.accordion-item</code>, <code class="uid-codeblock">.accordion-tit</code>,
                <code class="uid-codeblock">.accordion-content</code>
              </li>
              <li>하나 <code class="uid-codeblock">.accordion-item</code> 활성화 : data-type="single"</li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-tab">
                <button type="button" class="code-btn is-active">
                  <span class="tab-label">Html</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">Css</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">JavaScript</span>
                </button>
              </div>
              <div class="code-group is-active">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

  <div class="component-accordion" data-orientation="vertical">
    <div class="accordion-item" data-state="close" data-type="single">
      <button type="button" class="accordion-tit"> Q. accordion-item01</button>
      <div class="accordion-content">accordion-content01</div>
    </div>
    <div class="accordion-item" data-state="close" data-type="single">
      <button type="button" class="accordion-tit"> Q. accordion-item02</button>
      <div class="accordion-content">accordion-content02</div>
    </div>
    <div class="accordion-item" data-state="close" data-type="single">
      <button type="button" class="accordion-tit"> Q. accordion-item03</button>
      <div class="accordion-content">accordion-content03</div>
    </div>
  </div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <article>
            <h2 class="uid-title02">Accordion Custom</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-accordion</code>
              </li>
              <li>
                컴포넌트 자식 클래스 :
                <code class="uid-codeblock">.accordion-item</code>, <code class="uid-codeblock">.accordion-tit</code>,
                <code class="uid-codeblock">.accordion-content</code>
              </li>
              <li><code class="uid-codeblock">.accordion-item</code> 커스텀 : data-setting="custom"</li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-tab">
                <button type="button" class="code-btn is-active">
                  <span class="tab-label">Html</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">Css</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">JavaScript</span>
                </button>
              </div>
              <div class="code-group is-active">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

  <div class="component-accordion" data-orientation="vertical">
    <div class="accordion-item" data-state="close" data-type="multiple" data-setting="custom">
      <button type="button" class="accordion-tit"> Q. accordion-item01</button>
      <div class="accordion-content">accordion-content01</div>
    </div>
    <div class="accordion-item" data-state="close" data-type="multiple" data-setting="custom">
      <button type="button" class="accordion-tit"> Q. accordion-item02</button>
      <div class="accordion-content">accordion-content02</div>
    </div>
    <div class="accordion-item" data-state="close" data-type="multiple" data-setting="custom">
      <button type="button" class="accordion-tit"> Q. accordion-item03</button>
      <div class="accordion-content">accordion-content03</div>
    </div>
  </div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->
        </section>
      </main>

      @@include('pathGuideInclude/_component_footer.html')
    </div>
    <script src="pathGuideScripts/component_guide.js"></script>
    <script></script>
  </body>
</html>
