<!doctype html>
<html lang="ko">
  <head>
    @@include('pathGuideInclude/_component_head.html', {"title": "project components guide"})
  </head>
  <body>
    <div class="uid-container">
      @@include('pathGuideInclude/_component_header.html') @@include('pathGuideInclude/_component_navigation.html')

      <main class="uid-main code-guide">
        <h1 class="uid-title01">Checkbox</h1>
        <p class="uid-desc">
          체크박스는 사용자가 선택할 수 있는 옵션을 제공하는 입력 요소입니다.<br />
          체크박스는 선택적인 항목을 나타내므로, 사용자는 선택적으로 해당 옵션을 활성화하거나 비활성화할 수 있습니다.
        </p>

        <section class="uid-component">
          <h2 class="uid-title02">기본 가이드</h2>
          <ul class="uid-list">
            <li> 설계 단계의 특별한 UX 요청이나 개발 환경에 따른 제약으로 개발 요청 사항이 없다면 <strong>테스트 완료된 코드</strong>를 <strong>복사 붙여 넣기</strong>를 <strong>기본</strong>으로 합니다. </li>
          </ul>
        </section>

        <!-- <section class="uid-component">
          <h2 class="uid-title02">테스트된 브라우저(최신 버전 기준)</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_browsers_check01.html')
              <tbody>
                <tr>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                  <td>&check;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">테스트된 스크린 리더</h2>
          <div class="uid-table">
            <table class="table-fixed">
              @@include('pathGuideInclude/_component_screen_reader_check01.html')
              <tbody>
                <tr>
                  <td>none</td>
                  <td>supported</td>
                  <td>supported</td>
                  <td>partial</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section> -->

        <section class="uid-component">
          <h2 class="uid-title02">협의 할 점</h2>
          <ul class="uid-list">
            <li></li>
          </ul>
        </section>

        <section class="uid-component">
          <h2 class="uid-title02">접근성 가이드</h2>
          <ul class="uid-list">
            <li>checkbox - :focus-visible{outline: -webkit-focus-ring-color auto 1px;}</li>
            <li>switch - :focus-within .switch-item {outline: -webkit-focus-ring-color auto 1px;}</li>
            <li>switch - aria-label="스위치 제목" 기재</li>
          </ul>
        </section>

        <section class="uid-component">
          <!-- S : 작성 단위 / 추가는 article 단위로 입력  -->
          <article>
            <h2 class="uid-title02">Checkbox</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-checkbox</code>
              </li>
              <li>
                컴포넌트 자식 클래스 :
                <code class="uid-codeblock">.checkbox-inner</code>
              </li>
              <li>
                input 컴포넌트 가상클래스 :
                <code class="uid-codeblock">:checked</code>
                <code class="uid-codeblock">:disabled</code>
                <code class="uid-codeblock">:checked + disabled</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-tab">
                <button type="button" class="code-btn is-active">
                  <span class="tab-label">Html</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">Css</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">JavaScript</span>
                </button>
              </div>
              <div class="code-group is-active">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

 <!-- checkbox : 기본 -->
<div class="component-checkbox">
  <label class="checkbox-inner">
    <input type="checkbox" id="temp_checkbox_0001" name="temp_checkbox_0001">
  </label>
</div>
<div class="component-checkbox">
  <label class="checkbox-inner">
    <input type="checkbox" id="temp_checkbox_0002" name="temp_checkbox_0001" checked>
  </label>
</div>
<div class="component-checkbox">
  <label class="checkbox-inner">
    <input type="checkbox" id="temp_checkbox_0003" name="temp_checkbox_0001" disabled>
  </label>
</div>
<div class="component-checkbox">
  <label class="checkbox-inner">
    <input type="checkbox" id="temp_checkbox_0004" name="temp_checkbox_0001" checked disabled>
  </label>
</div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <article>
            <h2 class="uid-title02">Checkbox + 텍스트</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 자식 클래스 :
                <code class="uid-codeblock">.checkbox-item</code>
              </li>
              <li>
                input 컴포넌트 가상클래스 :
                <code class="uid-codeblock">:checked</code>
                <code class="uid-codeblock">:disabled</code>
                <code class="uid-codeblock">:checked + disabled</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-tab">
                <button type="button" class="code-btn is-active">
                  <span class="tab-label">Html</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">Css</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">JavaScript</span>
                </button>
              </div>
              <div class="code-group is-active">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

 <!-- checkbox : input + 텍스트 -->
<br>
<div class="component-checkbox">
  <label class="checkbox-inner">
    <input type="checkbox" id="temp_checkbox_0101" name="temp_checkbox_0100">
    <span class="checkbox-item">
      <span class="checkbox-txt">Checkbox default</span>
    </span>
  </label>
</div>
<br>
<br>
<div class="component-checkbox">
  <label class="checkbox-inner">
    <input type="checkbox" id="temp_checkbox_0102" name="temp_checkbox_0100" checked>
    <span class="checkbox-item">
      <span class="checkbox-txt">Checkbox checked</span>
    </span>
  </label>
</div>
<br>
<br>
<div class="component-checkbox">
  <label class="checkbox-inner">
    <input type="checkbox" id="temp_checkbox_0103" name="temp_checkbox_0100" disabled>
    <span class="checkbox-item">
      <span class="checkbox-txt">Checkbox disabled</span>
    </span>
  </label>
</div>
<br>
<br>
<div class="component-checkbox">
  <label class="checkbox-inner">
    <input type="checkbox" id="temp_checkbox_0104" name="temp_checkbox_0100" checked disabled>
    <span class="checkbox-item">
      <span class="checkbox-txt">Checkbox checked + disabled</span>
    </span>
  </label>
</div>
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"></textarea>
              </div>
            </div>
          </article>
          <article>
            <h2 class="uid-title02">Checkbox Switch</h2>
            <ul class="uid-list">
              <li>
                컴포넌트 클래스 :
                <code class="uid-codeblock">.component-checkbox-switch</code>
              </li>
              <li>
                컴포넌트 자식 클래스 :
                <code class="uid-codeblock">.switch-inner</code>
                <code class="uid-codeblock">.switch-label</code>
                <code class="uid-codeblock">.switch-item</code>
                <code class="uid-codeblock">.switch-handle</code>
                <code class="uid-codeblock">.switch-txts</code>
              </li>
              <li>
                input 컴포넌트 가상클래스 :
                <code class="uid-codeblock">:checked</code>
                <code class="uid-codeblock">:disabled</code>
                <code class="uid-codeblock">:checked + disabled</code>
              </li>
            </ul>
            <div class="code-wrap">
              <div class="code_preview uid-demo">
                <iframe class="preview"></iframe>
              </div>
              <div class="code-tab">
                <button type="button" class="code-btn is-active">
                  <span class="tab-label">Html</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">Css</span>
                </button>
                <button type="button" class="code-btn">
                  <span class="tab-label">JavaScript</span>
                </button>
              </div>
              <div class="code-group is-active">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content html ui_code_content" data-code="html">

 <!-- Switch : 기본 -->
<div class="component-checkbox-switch">
  <label class="switch-inner">
    <input type="checkbox" id="temp_switch_0001" name="temp_switch_0001" aria-label="스위치 제목">
    <span class="switch-item">
      <span class="switch-handle"></span>
    </span>
  </label>
</div>
<br>
<br>
<div class="component-checkbox-switch">
  <label class="switch-inner">
    <input type="checkbox" id="temp_switch_0002" name="temp_switch_0001" aria-label="스위치 제목">
    <span class="switch-item">
      <span class="switch-handle"></span>
      <div class="switch-txts" aria-hidden="true">
        <span class="txt">ON</span>
        <span class="txt">OFF</span>
      </div>
    </span>
  </label>
</div>
<br>
<br>
<div class="component-checkbox-switch">
  <label class="switch-inner">
    <span class="switch-label">스위치 제목</span>
    <input type="checkbox" id="temp_switch_0003" name="temp_switch_0001">
    <span class="switch-item">
      <span class="switch-handle"></span>
    </span>
  </label>
</div>
<br>
<br>

<!-- Switch : 속성 -->
<div class="component-checkbox-switch">
  <label class="switch-inner">
    <span class="switch-label">checked</span>
    <input type="checkbox" id="temp_switch_0101" name="temp_switch_0100" checked>
    <span class="switch-item">
      <span class="switch-handle"></span>
    </span>
  </label>
</div>
<br>
<br>
<div class="component-checkbox-switch">
  <label class="switch-inner">
    <span class="switch-label">disabled</span>
    <input type="checkbox" id="temp_switch_0102" name="temp_switch_0100" disabled>
    <span class="switch-item">
      <span class="switch-handle"></span>
    </span>
  </label>
</div>
<br>
<br>
<div class="component-checkbox-switch">
  <label class="switch-inner">
    <span class="switch-label">checked + disabled</span>
    <input type="checkbox" id="temp_switch_0103" name="temp_switch_0100" checked disabled>
    <span class="switch-item">
      <span class="switch-handle"></span>
    </span>
  </label>
</div>

                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content css ui_code_content" data-code="css">
/* css 주석 사용시 이 주석사용 부탁드립니다. */
                </textarea>
              </div>
              <div class="code-group">
                <div class="code_info">
                  <button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!"> Copy to clipboard </button>
                </div>
                <textarea class="code_content javascript ui_code_content" data-code="javascript"> </textarea>
              </div>
            </div>
          </article>
          <!-- E : 작성 단위 / 추가는 article 단위로 입력  -->
        </section>
      </main>

      @@include('pathGuideInclude/_component_footer.html')
    </div>
    <script src="pathGuideScripts/component_guide.js"></script>
    <script></script>
  </body>
</html>
